{% extends 'layout2.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
        .url {
            padding: 5px;
            background: rgba(121,121,121, 0.666);
            color: white;
            text-align: center;
            height: 29px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="main">
        <div class="header-comm-sm">
            <div class="community-form-container-sm">

            </div>
            <h3 class="text-comm">rassemblez votre tribu</h3>
        </div>
        <div class="community-form-container">
            <div class="sub-container"></div>
            {{ form_start(form, {'attr': {'class': 'community-form', 'id': 'form-new-community', 'enctype': "multipart/form-data"}}) }}
            <h5 class="form-title">Créez votre tribu</h5>
            <div class="form-group">
                {{ form_widget(form.titre,{'attr':{'onblur':'test()','maxlength':'51'}}) }}
                {{ form_errors(form.titre) }}
                 <div id="k51" style="margin-left: 25px;"></div>
            </div>
            <div class="form-group">
                
                {{ form_widget(form.sousTitre) }}
                {{ form_errors(form.sousTitre) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.descCourt,{'attr':{'maxlength':'160'}}) }}
                {{ form_errors(form.descCourt) }}
                 <div id="k160" style="margin-left: 25px;"></div>
            </div>
            <div class="form-group">

                <div class="custom-file">
                    <input type="file" name="photoCouverture" class="custom-file-input" id="customFileCover" lang="fr">
                    <span class="invalid-feedback">Une image est requise</span>
                    <label class="custom-file-label" for="customFileCover" data-reset-label="Séléctionnez photo couverture">Séléctionnez photo couverture</label>
                </div>
                <p style="font-size: 11px;margin-left: 20px;line-height: 1.2;opacity: 0.7;">"Nous vous conseillons d'utiliser une photo <br>de taille raisonnable afin de faciliter  <br> l'affichage pour vos visiteurs" (Nous vous <br> conseillons une taille maximum de 500 Ko)</p>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" name="photoProfil" class="custom-file-input" id="customFileProfile" lang="fr">
                    <span class="invalid-feedback">Une image est requise</span>
                    <label class="custom-file-label" for="customFileProfile" data-reset-label="Séléctionnez photo profil">Séléctionnez photo profil</label>
                </div>
            </div>
            <div class="form-group">
                {{ form_widget(form.siteWeb) }}
                {{ form_errors(form.siteWeb) }}
            </div>
            <div class="form-group">
                <div class="input-container">
                    <span class="url">tribadd.com/in/</span>
                    <input required type="text" name="urlPublic" placeholder="URL Publique" id="urlP" class="form-control">
                </div>
            </div>
            <div id="error">

            </div>
            <input id="next" type="submit" class="btn btn-yellow btn-suiv" value="Suivant">
            {{ form_end(form) }}
        </div>
        <div class="community-container mb-4">
            <div class="community-header">
                <div class="community-background d-flex justify-content-center align-items-center flex-column">
                    <div class="water loader-md"></div>
                    <img src="{{ asset('assets/image/empty-image-min.jpg') }}" alt="photo par defaut" id="img_preview" class="d-none">
                </div>
                <div class="community-title">
                    <div class="community-profil d-flex justify-content-center align-items-center flex-column">
                        <div class="water loader-md"></div>
                        <img src="{{ asset('assets/image/empty-image-min.jpg') }}" alt="photo par defaut" id="img_preview_deux" class="d-none">
                    </div>
                    <div class="community-description">
                        <h1 id="title">Titre communauté</h1>
                        <h2 class="sous-titre" id="subtitle">Sous-titre</h2>
                        <a href="#" class="site-web" id="website">www.siteweb.mg</a>
                        <p><span>tribadd.com/in/</span><span id="urlPublic">url-publique</span></p>
                        <p id="short-description">Description courte</p>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mr-auto community-create-navbar mt-2 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">paramétrage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">publications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">membres</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="separator">
            <div class="affichage"></div>
            <div class="community-tools">
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        function  test(){
            let titre = $("#form_titre").val().toLowerCase().replaceAll(" ", "-");
            $("#urlP").attr('value',titre);
            $('#urlPublic').text($("#urlP").val());
            verif();
        }
        function verif() {
            let url = $("#urlP").val();
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/in/verif/url?url='+url);
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4){
                    let resp = JSON.parse(xhr.response);
                    if(resp.taille > 0){
                        $("#error").html('<p style="color: red; font-size: 13px; background-color: rgba(255,228,225,0.66); padding: 5px; border-radius: 5px">tribadd.com/in/'+url+' existe déjà. Changez votre url publique </p>')
                        $("#next").attr('disabled',true)
                    }else{
                        $("#error").html('');
                        $("#next").attr('disabled',false)
                    }
                }
            };
            xhr.send();
        }
        function formCut() {
            if ($('.community-form-container').css('display') === 'none') {
                $('.community-form').appendTo('.community-form-container-sm')
            } else {
                $('.community-form').appendTo('.community-form-container')
            }
        }
        formCut()
        $(window).on('resize', function () {
            formCut()
        })

        $("#form-new-community").on('submit', function (e) {
            e.preventDefault();
            if (document.getElementById('customFileCover').files.length === 0 || document.getElementById('customFileProfile').files.length === 0) {
                if (document.getElementById('customFileCover').files.length === 0)
                    document.getElementById('customFileCover').classList.add('is-invalid')
                if (document.getElementById('customFileProfile').files.length === 0)
                    document.getElementById('customFileProfile').classList.add('is-invalid')
                return
            }
            $('#form_descriptionLongue').summernote({
                tabsize: 2,
                minHeight: 200,
                focus: true
            });
            $('#form-new-community :input').prop('readonly', true)
            $('#form-new-community').find('input[type="submit"]').prop('disabled', true)
            $('#form-new-community').find('input[type="file"]').prop('disabled', true)
            const data = new FormData(this);
            $('.affichage').html("<p class='font-weight-bold px-3 py-1 text-white bg-success w-fit-content'>Insérez les détails de votre communauté</p>");
            $('.community-tools').html(`
                    <form id="form-last-step" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <textarea cols="100%" name="decriptionLongue" id="form_descriptionLongue"></textarea>
                        </div>
                        <button type="submit" class="btn btn-yellow">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            Créer
                            </button>
                        <button class="btn btn-outline-secondary" id="back-to-form">Annuler</button>
                    </form>
                `);
            $("#back-to-form").on('click', function (e) {
                e.preventDefault();
                $('#form-new-community :input').prop('readonly', false)
                $('#form-new-community').find('input[type="submit"]').prop('disabled', false)
                $('#form-new-community').find('input[type="file"]').prop('disabled', false)
                $('html, body').animate({ scrollTop: $("#form-new-community").offset().top }, 500);
                $('.community-tools').html('');
                $('.affichage').html('');
            })
            $('#form_descriptionLongue').summernote({
                tabsize: 2,
                minHeight: 200,
                focus: true
            });
            $('#form-last-step').on('submit', function (e) {
                e.preventDefault();
                if (document.getElementById('customFileCover').files.length === 0 || document.getElementById('customFileProfile').files.length === 0) {
                    if (document.getElementById('customFileCover').files.length === 0) {
                        document.getElementById('customFileCover').classList.add('is-invalid')
                        document.getElementById('customFileCover').focus()
                    }
                    if (document.getElementById('customFileProfile').files.length === 0) {
                        document.getElementById('customFileProfile').classList.add('is-invalid')
                        document.getElementById('customFileProfile').focus()
                    }
                    return
                }
                const formData = new FormData(this)
                formData.append('titre', data.get('form[titre]'));
                formData.append('sousTitre', data.get('form[sousTitre]'));
                formData.append('descCourt', data.get('form[descCourt]'));
                formData.append('siteWeb', data.get('form[siteWeb]'));
                formData.append('photoCouverture', document.getElementById('customFileCover').files[0]);
                formData.append('photoProfil', document.getElementById('customFileProfile').files[0]);
                formData.append('decriptionLongue', $('#form_descriptionLongue').val());
                formData.append('urlPublic', $('#urlP').val());
                $.ajax({
                    url: "{{ path('newCommunity') }}",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    beforeSend: function () {
                        $('#form-last-step input[type="submit"]').prop('disabled', true);
                        $('#form-last-step button[type="submit"] span').removeClass('d-none');
                    },
                    success: function (response) {
                        if (response.resp === 'success') {
                            console.log(response)
                            /*window.location.href = "/user/modification/droits-communaute-".concat(response.data, '.html');*/
                            window.location.href = "/in/"+response.data;
                        }
                    },
                    error: function (error) {
                        /*window.location.href = "/myCommunaute.html"
                        console.log('erreur')*/
                    },
                    complete: function () {
                        $('#form-last-step input[type="submit"]').prop('disabled', false);
                        $('#form-last-step button[type="submit"] span').addClass('d-none');
                    }
                })
            })
            $('html,body').animate({scrollTop: $('#form-last-step').offset().top}, 500, function() {
                $("#form_descriptionLongue").focus()
            });
        })
        $(".custom-file-input").on("change", function(e) {
            if (e.target.files.length == 0) {
                $(this).siblings(".custom-file-label").removeClass("selected").html($(this).siblings(".custom-file-label").data('reset-label'));
                return
            }

            const fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $('#form_titre').on('input', function (e) {
            if ('' !== $(this).val().trim()) {
                $('#title').text($(this).val())
            } else {
                $('#title').text('Titre communauté')
            }
        })
        $('#form_sousTitre').on('input', function (e) {
            if ('' !== $(this).val().trim()) {
                $('#subtitle').text($(this).val())
            } else {
                $('#subtitle').text('Sous-titre')
            }
        })
        $('#form_descCourt').on('input', function (e) {
            if ('' !== $(this).val().trim()) {
                $('#short-description').text($(this).val())
            } else {
                $('#short-description').text('Description courte')
            }
        });
        $('#urlP').on('input', function (e) {
            if ('' !== $(this).val().trim()) {
                $('#urlPublic').text($(this).val())
                verif()
            } else {
                $('#urlPublic').text('url-public')
            }
        });
        $('#form_siteWeb').on('input', function (e) {
            if ('' !== $(this).val().trim()) {
                $('#website').prop('href', $(this).val()).prop('target', '__blank').text($(this).val())
            } else {
                $('#website').removeAttr('target').text('www.siteweb.mg')
            }
        })
        $(function() {
             $('#form_titre').on('input', function() {
                 var titre = $(this).val();
                 var cal = titre.length;
                  if (cal > 51) {
                      $('#k51').html();
                    $('#k51').html('<p style="color:red;">La taille du titre ne doit pas dépasser les 51 caractères</p>');
                    e.preventDefault();
                  }else{
                     $('#k51').html();
                     var text = "Vous avez saisi "+cal+"/51 caractères";
                      $('#k51').html('<p>'+text+'</p>');
                  }
                

             });
             $('#form_descCourt').on('input', function() {
                 var description = $(this).val();
                 var cal = description.length;
                  if (cal > 160) {
                     $('#k160').html();
                    $('#k160').html('<p style="color:red;">La taille de description ne doit pas dépasser les 160 caractères</p>');
                    e.preventDefault();
                  }else{
                    $('#k160').html();
                     var text = "Vous avez saisi "+cal+"/160 caractères";
                      $('#k160').html('<p>'+text+'</p>');
                  }
                

             });
          });
        $('.btn-suiv').on('click',function(){
            var description = $('#form_descCourt').val();
            var test = $('#form-new-community   input[type="text"]');
            
             if(test.val() && description){
                $('.affichage').html("<b><p style=\"color:#fff;background-color:#1ba207;padding-left: 15px;width: 26%;border-radius: 5px\">Insérez les détails de votre communauté <span style=\"font-family:Wingdings;\">ü</span></p></b>");
            }
        });

        (function () {
            const canvas = $('canvas')[0];
            const ctx = canvas.getContext('2d');
            let img;
            const containerCouv = document.querySelector('.community-background')
            const originCouv = document.querySelector('#img_preview')
            const containerPro = document.querySelector('.community-profil')
            const originPro = document.querySelector('#img_preview_deux')
            $('#customFileCover').change(function() {
                preview(this.files);
            });

            $('#customFileProfile').change(function() {
                previewDeux(this.files);
            });

            function preview(files) {
                if (files.length > 0) {
                    document.getElementById('customFileCover').classList.remove('is-invalid')
                    var file = files[0];
                    if (
                        typeof FileReader !== 'undefined' &&
                        file.type.indexOf('image') != -1
                    ) {
                        var reader = new FileReader();
                        // Note: addEventListener doesn't work in Google Chrome for this event
                        reader.onload = function(evt) {
                            cropImage(evt.target.result, containerCouv, originCouv);
                        };
                        reader.readAsDataURL(file);
                    }
                } else {
                    document.getElementById('customFileCover').classList.add('is-invalid')
                    cropImage("{{ asset('assets/image/empty-image-min.jpg') }}", containerCouv, originCouv)
                }
            }

            function previewDeux(files){
                if (files.length > 0) {
                    document.getElementById('customFileProfile').classList.remove('is-invalid')
                    var file = files[0];
                    if (
                        typeof FileReader !== 'undefined' &&
                        file.type.indexOf('image') != -1
                    ) {
                        var reader = new FileReader();
                        // Note: addEventListener doesn't work in Google Chrome for this event
                        reader.onload = function(evt) {
                            cropImage(evt.target.result, containerPro, originPro);
                        };
                        reader.readAsDataURL(file);
                    }
                } else {
                    document.getElementById('customFileProfile').classList.add('is-invalid')
                    cropImage("{{ asset('assets/image/empty-image-min.jpg') }}", containerPro, originPro)
                }
            }

            function cropImage (src, container, origin) {
                if (src.match(/assets\/image\/empty-image-min\.jpg/i)) {
                    origin.setAttribute('src', src)
                    return false
                }
                load(src)

                function load(src) {
                    $(origin).addClass('d-none')
                    $(container).find('div.water').removeClass('d-none')
                    img = new Image();
                    img.onload = function() {
                        run();
                    };
                    img.src = src;
                }

                function run() {
                    if (!img) return;
                    var options = {
                        width: container.offsetWidth,
                        height: container.offsetHeight,
                        minScale: 1,
                        ruleOfThirds: true,
                        debug: true
                    };
                    var analyzeOptions = analyze.bind(this, options);
                    analyzeOptions();
                }
                function analyze(options) {
                    smartcrop.crop(img, options, draw);
                }

                function draw(result) {
                    var selectedCrop = result.topCrop;
                    drawCrop(selectedCrop);
                }

                function drawCrop(crop) {
                    canvas.width = container.offsetWidth;
                    canvas.height = container.offsetHeight;
                    ctx.drawImage(
                        img,
                        crop.x,
                        crop.y,
                        crop.width,
                        crop.height,
                        0,
                        0,
                        canvas.width,
                        canvas.height
                    );
                    $(origin).attr('src', canvas.toDataURL(img.type))
                    $(origin).removeClass('d-none')
                    $(container).find('div.water').addClass('d-none')
                }
            }
        })()
    </script>
{% endblock %}

