{% extends 'layout2.html.twig' %}

{% block title %}{{ communaute.titre }}{% endblock %}

{% block meta %}{{ communaute.descCourt }}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

{% endblock %}

{% block body %}

    <div class="main">

        <div class="header-comm-sm">

            <div class="community-form-container-sm">

                <div class="container-menu">

                    {% block container_sm %}{{ parent() }}{% endblock %}

                </div>

            </div>

            <h3 class="text-comm">rassemblez votre tribu</h3>

        </div>

        {% block loginSm %}{{ parent() }}{% endblock %}

        <div class="community-form-container">

            <div class="sub-container"></div>

            <div class="container-menu">

                {% block container %}{{ parent() }}{% endblock %}

            </div>

        </div>

        <div class="community-container">

            <div class="community-header">

                <div class="community-background d-flex justify-content-center align-items-center">

                    <div class="water loader-md"></div>

                    <img class="d-none" src="{{ communaute.photoCouverture is null ? asset('assets/image/empty-image-min.jpg') : asset('couverture/' ~ communaute.photoCouverture) }}" alt="pdc communaute">

                </div>

                <div class="community-title">

                    <div class="community-profil d-flex justify-content-center align-items-center">

                        <div class="water loader-md"></div>

                        <img src="{{ communaute.photoProfil is null ? asset('assets/image/empty-image-min.jpg') : asset('profil/' ~ communaute.photoProfil) }}" alt="pdp  communaute" class="d-none">

                    </div>
                    {% if app.user %}
                        {% if app.user and app.user.id == communaute.user.id or app.user and membre is not null and membre.role is not null and membre.role.libelle == 'administrateur' %}
                            <a class="text-decoration-none" style="position: relative;left: 145px;top: -59px;" href="{{ path('editMyCommunaute', {urlPublic: communaute.urlPublic}) }}"><i class="fa fa-pen"></i></a>
                         {% endif %}
                     {% endif %}

                    <div class="community-description">

                        <h1 id="title">{{ communaute.titre }}</h1>

                        <h2 class="sous-titre" id="subtitle">{{ communaute.sousTitre }}</h2>

                        <a target="_blank" rel="noreferrer noopener" href="{{ communaute.siteWeb }}" class="site-web" id="website">{{ communaute.siteWeb }}</a>

                        <p id="short-description">{{ communaute.descCourt }}</p>

                    </div>

                </div>

            </div>

            {% include 'user/navbar.html.twig' with {'showCommunity': ' disabled'} %}

            <hr class="separator">

            <div class="row mb-5 p-4">

                <div class="col-md-12">

                    <table id="table" class="table table-responsive-sm table-striped table-bordered" style="width:100%">

                        <thead>

                        <tr>

                            <th>Pseudo</th>

                            <th>Nom</th>

                            <th>Prenom</th>

                            <th>Role</th>

                            <th><span class="text-muted">...</span></th>

                        </tr>

                        </thead>

                        <tbody>

                        {% for m in communaute.membres if m.user != app.user %}

                            <tr data-id="{{ m.user.id }}">

                                <td>{{ m.user.username }}</td>

                                <td>{{ m.user.nom != '' ? m.user.nom : '<span class="text-muted">non renseigné</span>' }}</td>

                                <td>{{ m.user.prenom != '' ? m.user.prenom : '<span class="text-muted">non renseigné</span>' }}</td>

                                <td>{{ m.role is not null ? m.role.libelle : '<span class="text-danger">bloqué</span>' }}</td>

                                <td>

                                    <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="dropdown" aria-expanded="false">

                                        actions

                                        <i class="fa fa-angle-down"></i>

                                    </button>

                                    <div class="dropdown-menu">

                                        {% if m.role is not null %}

                                            <a class="dropdown-item mb-2 font-weight-bold" href="#" onclick="changeRole(event, {{ m.user.id }})">changer le role</a>

                                            <a class="dropdown-item mb-2 font-weight-bold" href="#" onclick="remove(event, {{ m.user.id }})">retirer</a>

                                            <a class="dropdown-item font-weight-bold" href="#" onclick="blocking(event, {{ m.user.id }})">bloquer</a>

                                        {% else %}

                                            <a class="dropdown-item font-weight-bold" href="#" onclick="unblocking(event, {{ m.user.id }})">débloquer</a>

                                        {% endif %}

                                    </div>

                                </td>

                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>

                </div>

                {% if app.request.headers.get('referer') is not null %}

                    <a class="btn btn-yellow ml-auto mr-3 mt-2" href="{{ app.request.headers.get('referer') == absolute_url(path('showMembres', {urlPublic: communaute.urlPublic})) ? path('ShowmyCommunaute', {urlPublic: communaute.urlPublic}) : app.request.headers.get('referer') }}" >retour</a>

                {% else %}

                    <a class="btn btn-yellow ml-auto mr-3 mt-2" href="{{ path('ShowmyCommunaute', {id: communaute.id}) }}">retour</a>

                {% endif %}

            </div>

            <div class="container row mb-5 ml-1 p-4" id="description-user"></div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        let table;

        $(document).ready(function () {

            table = $('#table').DataTable({

                "language": {

                    "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/French.json"

                }

            });

        })

        function changeRole(e, id) {

            e.preventDefault()

            $('#description-user').load("/in/change/role-".concat({{ communaute.id }}, '.html?user='.concat(id)), function () {

                (function () {

                    const canvas = $('canvas')[0];

                    const ctx = canvas.getContext('2d');

                    let img;

                    const container = document.querySelector('.image')

                    const origin = document.querySelector('.image img')



                    load(origin.src)



                    function load(src) {

                        if (src.match(/assets\/image\/empty-image-min\.jpg/i)) {

                            origin.setAttribute('src', src)

                            return false

                        }

                        $(origin).addClass('d-none')

                        $(container).find('div.water').removeClass('d-none')

                        img = new Image();

                        img.onload = function() {

                            run();

                        };

                        img.src = src;

                    }



                    function run() {

                        if (!img) return;

                        var options = {

                            width: container.offsetWidth,

                            height: container.offsetHeight,

                            minScale: 1,

                            ruleOfThirds: true,

                            debug: true

                        };

                        var analyzeOptions = analyze.bind(this, options);

                        analyzeOptions();

                    }

                    function analyze(options) {

                        smartcrop.crop(img, options, draw);

                    }



                    function draw(result) {

                        var selectedCrop = result.topCrop;

                        drawCrop(selectedCrop);

                    }



                    function drawCrop(crop) {

                        canvas.width = container.offsetWidth;

                        canvas.height = container.offsetHeight;

                        ctx.drawImage(

                            img,

                            crop.x,

                            crop.y,

                            crop.width,

                            crop.height,

                            0,

                            0,

                            canvas.width,

                            canvas.height

                        );

                        $(origin).attr('src', canvas.toDataURL(img.type))

                        $(origin).removeClass('d-none')

                        $(container).find('div.water').addClass('d-none')

                    }

                })()

                const $elem = document.querySelector('.snip1218')

                if ($elem) {

                    $elem.querySelector('.change-droit').style.height = $elem.querySelector('.card-body').offsetHeight + 'px'

                    $elem.querySelector("a[title='bloquer']").setAttribute('onclick', 'blockedUser(event, '.concat(id, ')'))

                    $('html, body').animate({ scrollTop: document.querySelector('body').scrollHeight }, 500);

                }

            })

        }

        function openChange(e) {

            e.preventDefault()

            $('.change-droit').toggleClass('active')

        }



        const fetchAction = async function(url, options = {}) {

            let response = await fetch(url, {

                credentials: 'same-origin',

                headers: {

                    'X-Requested-With': 'XMLHttpRequest',

                    'Accept': 'application/json',

                    'Content-Type': 'application/json'

                },

                ...options

            })

            if(response.ok) {

                return await response.json()

            } else {

                throw await response.json()

            }

        };



        async function blockedUser(e, id) {

            e.preventDefault()

            if (confirm('Cet utilisateur sera bloqué, voulez-vous poursuivre ?')) {

                const response = await fetchAction("/in/blocked-".concat(id, '-from-'.concat({{ communaute.id }}, '.html')))

                if (response.response) {

                    $('tr[data-id="' + id + '"] td:eq(3)').html('<span class="text-danger">bloqué</span>')

                    $('tr[data-id="' + id + '"] td:eq(4) a:eq(2)').attr('onclick', 'unblocking(event, '+id+')').text('débloquer')

                    $('tr[data-id="' + id + '"] td:eq(4) a:eq(0), tr[data-id="' + id + '"] td:eq(4) a:eq(1)').remove()

                    $('#description-user').html('')

                    $('html, body').animate({ scrollTop: $('tr[data-id="' + id + '"]')[0].scrollHeight }, 500);

                }

            }

        }



        async function blocking(e, id) {

            e.preventDefault()

            if (confirm('Cet utilisateur sera bloqué, voulez-vous poursuivre ?')) {

                const response = await fetchAction("/in/{{ communaute.urlPublic }}/block-user?user=".concat(id))

                if (response.response) {

                    $('tr[data-id="' + id + '"] td:eq(3)').html('<span class="text-danger">bloqué</span>')

                    $('tr[data-id="' + id + '"] td:eq(4) a:eq(2)').attr('onclick', 'unblocking(event, '+id+')').text('débloquer')

                    $('tr[data-id="' + id + '"] td:eq(4) a:eq(0), tr[data-id="' + id + '"] td:eq(4) a:eq(1)').remove()

                }

            }

        }

        async function unblocking(e, id) {

            e.preventDefault()

            if (confirm('Cet utilisateur sera débloqué, voulez-vous poursuivre ?')) {

                const response = await fetchAction("/in/{{ communaute.urlPublic }}/unblock-user?user=".concat(id))

                if (response.response) {

                    $('tr[data-id="' + id + '"] td:eq(3)').text('membre')

                    const link = $('tr[data-id="' + id + '"] td:eq(4) a:eq(0)')

                    $(link).attr('onclick', 'blocking(event, '+id+')').text('bloquer')

                    const link2 = link.clone()

                    const link3 = link.clone()

                    console.log(link, link2)

                    link.before($(link3).addClass('mb-2').attr('onclick', 'remove(event, '+id+')').text('retirer'))

                    link3.before($(link2).addClass('mb-2').attr('onclick', 'changeRole(event, '+id+')').text('changer le role'))

                }

            }

        }



        async function remove(e, id) {

            e.preventDefault()

            if (confirm('Cet utilisateur sera retiré, voulez-vous poursuivre ?')) {

                const response = await fetchAction("/in/{{ communaute.urlPublic }}/remove-user?user=".concat(id))

                if (response.response) {

                    $('tr[data-id="' + id + '"]').fadeOut("slow", function () {

                        table.row(this).remove().draw();

                    })

                }

            }

        }

    </script>

{% endblock %}